<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Моя сторінка</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div id="page-wrap">
        <header>
  <img src="assets/photo_2023-05-24_12-48-38.jpg" alt="Моя фотографія">
  <h1>Гладкий Владислав Михайлович</h1>
  <div id="contact-info" class="vcard">
    <!-- Microformats! -->
    <p>
      Cell: <span class="tel">+38(068)620-14-03</span><br />
      Email: <a class="email" href="mailto:vlad.vladir.gladkyy@gmail.com">vlad.vladir.gladkyy@gmail.com</a>
    </p>
  </div>
</header>

        <nav>
          <ul>
            <li><a href="#objective">Автобіографія</a></li>
            <li><a href="#education">Освіта</a></li>
            <li><a href="#skills">Навички</a></li>
            <li><a href="#experience">Досвід</a></li>
            <li><a href="#hobbies">Хобі</a></li>
            <li><a href="#sources">Інформаційні джерела</a></li>
          </ul>
        </nav>
        <section id="objective">
          <h2>Автобіографія</h2>
          <p>Я, Гладкий Владислав Михайлович народився 11 вересня 2003 р. у м. Сміла</p>
          <p>Середню освіту отримав у Смілянській загальноосвітній школі №14</p>
          <p>Із вересня 2022 року по сьогодні навчаюся в Черкаському державному технологічному університеті за спеціальністю "Інженерія програмного забезпечення".</p>
        </section>
        <section id="education">
          <h2>Освіта</h2>
          <div>
            <h3>Черкаський державний технологічний університет</h3>
            <p><strong>Період навчання: </strong>2022 - по теперішній час.</p>
            <p><strong>Ступінь:</strong> – 3 ступінь (бакалавр) та спеціальність 121 - "Інженерія програмного забезпечення"</p>
          </div>
        </section>
        <section id="skills">
          <h2>Навички</h2>
          <div>
            <h3>Навички з мов програмування</h3>
            <p>Опрацював матеріал з мов програмування: Java, HTML, CSS.</p>
            <h3>Навички при роботі</h3>
             <p>Ефективна комунікація та співпраця в команді.</p>
             <p>Аналітичне мислення та здатність до розв'язання складних проблем.</p>
             <p>Гнучкість та адаптивність до змін у робочому середовищі.</p>
          </div>
        </section>
        <section id="experience">
          <h2>Досвід</h2>
          <div>
            <h3>ЧДТУ <span>студент, 2022-2024 р.</span></h3>
            <ul>
              <li>Java</li>
              <li>HTML</li>
              <li>CSS</li>
              <li>Бази даних</li>
            </ul>
          </div>
        </section>
        <section id="hobbies">
          <h2>Хобі</h2>
          <div>Волейбол, футбол та програмування.</div>
        </section>
        <section id="sources">
          <h2>Список інформаційних джерел</h2>
          <div>
            <ul>
              <li><a href="https://chdtu.edu.ua">Черкаський державний технологічний університет</a></li>
              <li><a href="https://drive.google.com/file/d/1vWSOzUEPFM7g_8TVnWvWbVanZDd83Nhg/view?usp=sharing">Посилання на мій проект</a></li>
            </ul>
          </div>
        </section>
      </div>
</body>
</html>
